---
import SlidesLayout from "../../../layouts/talks/embrace-the-patch.astro";
import TextSlide from "../../../components/Slide/TextSlide.astro";
---

<SlidesLayout title="Slide 11: git diff">
  <TextSlide
    next-href="/talks/embrace-the-patch/12"
    next-label="Go to slide 12: git diff similarity"
  >
    <a href="https://git-scm.com/docs/git-diff"><code>git diff</code></a> is a built-in
    git tool
  </TextSlide>
</SlidesLayout>
