---
import { Code } from "astro:components";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/10";
const nextLabel = "Go to slide 10: diff";
---

<SlidesLayout title="Slide 9.9: explaining unified diff">
  <section
    class="slide flex-col flex-wrap sm:place-content-center"
    transition:name="slide"
  >
    <div
      class="!m-0 px-12 py-6 mx-12 self-center justify-self-center grid grid-cols-1 grid-rows-3 gap-x-12 gap-y-2"
      style="grid-template-columns: 1fr; grid-template-rows: auto auto 1fr;"
    >
      <div class="-my-6 overflow-visible" transition:name="result">
        <Code
          slot="result"
          lang="diff"
          class="!max-h-full"
          code={`
--- before.rb   2025-09-28 18:48:13.040212261 +0200
+++ after.rb    2025-09-28 18:48:17.628395029 +0200
@@ -1,5 +1,7 @@
+# frozen_string_literal: true
+
 class HelloWorld
   def self.hello
-    'Goodbye, Mars!'
+    'Hello, World!'
   end
 end
`.trim()}
        />
      </div>
    </div>

    {
      nextHref ? (
        <footer
          class="absolute right-0 top-0 bottom-0 flex items-center"
          transition:name="next"
        >
          <a rel="next" href={nextHref} class="group">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              role="img"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
              <title>{nextLabel}</title>
            </svg>
          </a>
        </footer>
      ) : null
    }
  </section>
</SlidesLayout>
