---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/40/3-list";
const nextLabel = "Go to slide 40.3: Debian gems";
---

<SlidesLayout title="Slide 40.2: Debian gems">
  <ListSlide
    title="Patching Debian Gems"
    class="--red"
    next-href={nextHref}
    next-label={nextLabel}
    type="ul"
    sizer="You enabled gems via bundle install --local ... ..."
  >
    <li>You installed gems via <code>apt-get install ...</code></li>
    <li>You enabled gems via <code>bundle install --local</code></li>
  </ListSlide>
</SlidesLayout>
