---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/40/7-debian";
const nextLabel = "Go to slide 40.7: Debian gems";
---

<SlidesLayout title="Slide 40.6: Debian gems">
  <ListSlide
    title="Patching Debian Gems"
    class="--red"
    next-href={nextHref}
    next-label={nextLabel}
    type="ol"
    sizer="Build from source e.g. dpkg-buildpackage -us -uc"
  >
    <li>
      <a
        href="https://unix.stackexchange.com/questions/121041/how-to-download-a-debian-packages-source-code"
        >Enable <code>deb-src</code></a
      >
    </li>
    <li>
      <a href="https://wiki.debian.org/Packaging/SourcePackage"
        ><code>apt-get source ruby-uuid</code></a
      >
    </li>
    <li>
      Make changes using <a href="https://wiki.debian.org/UsingQuilt">Quilt</a> (<a
        href="https://www.debian.org/doc/manuals/maint-guide/modify.en.html"
        >Guide</a
      >)
    </li>
    <li>Build from source e.g. <code>dpkg-buildpackage -us -uc</code></li>
  </ListSlide>
</SlidesLayout>
