---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/41";
const nextLabel = "Go to slide 41: Roll your own";
---

<SlidesLayout title="Slide 40.7: Debian gems">
  <ListSlide
    title="Patching Debian Gems"
    class="--red"
    next-href={nextHref}
    next-label={nextLabel}
    type="ol"
    start={5}
  >
    <li class="max-w-xl">
      (Optional) supply the patch to the <a
        href="https://wiki.debian.org/BTS/HowToUse?action=show&redirect=HowtoUseBTS"
        >Bug Tracking System</a
      > (e.g. <code>reportbug</code> or <em>emailing the patch</em>)
    </li>
  </ListSlide>
</SlidesLayout>
