---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/49/2-list";
const nextLabel = "Go to slide 49.2: Location, Location, Location";
---

<SlidesLayout title="Slide 49.1: Location, Location, Location">
  <ListSlide
    title="Location, Location, Location"
    next-href={nextHref}
    next-label={nextLabel}
    type="ol"
    sizer="Someone else wrote the fix: vendor ..."
  >
    <li>Someone else wrote the fix: <code>/vendor</code></li>
  </ListSlide>
</SlidesLayout>
