---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/36/4-list";
const nextLabel = "Go to slide 36.4: JavaScript & TypeScript";
---

<SlidesLayout title="Slide 36.3: JavaScript & TypeScript">
  <ListSlide
    next-href={nextHref}
    next-label={nextLabel}
    class="--green"
    title="Patching JavaScript & TypeScript"
    type="ul"
  >
    <li>
      <a href="https://pnpm.io/cli/patch"><code>pnpm patch</code></a> to start patching
      with pnpm
    </li>
    <li>
      <a href="https://yarnpkg.com/cli/patch"><code>yarn patch</code></a> to start
      patching with yarn
    </li>
    <li>
      <a href="https://bun.sh/docs/install/patch"><code>bun patch</code></a>
      to start patching with bun
    </li>
  </ListSlide>
</SlidesLayout>
