---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/37/4-list";
const nextLabel = "Go to slide 37.4: How to patch a package";
---

<SlidesLayout title="Slide 37.3: How to patch a package">
  <ListSlide
    next-href={nextHref}
    next-label={nextLabel}
    class="--green"
    title="How to patch a package?"
    type="ol"
    sizer="Run <binary> patch-commit <some-path> (or equivalent) ... ..."
  >
    <li>
      Run <code class="text-pink-500"
        >&lt;binary&gt; patch &lt;some-package&gt;</code
      >
    </li>
    <li>Open the temporary editable copy</li>
    <li>Make the changes</li>
  </ListSlide>
</SlidesLayout>
