---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/26/3-list";
const nextLabel = "Go to slide 26.3: another recap";
---

<SlidesLayout title="Slide 26.2: another recap">
  <ListSlide
    next-href={nextHref}
    next-label={nextLabel}
    class="--blue"
    title="Another quick recap"
    type="ul"
  >
    <li>
      <a href="https://git-scm.com/docs/git-format-patch"
        ><code>git format-patch</code></a
      >: generates patches (mbox compatible)
    </li>
    <li>
      <a href="https://git-scm.com/docs/git-send-email"
        ><code>git send-email</code></a
      >: emails compatible patches
    </li>
  </ListSlide>
</SlidesLayout>
