---
import { Code } from "astro:components";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";
import CodeSlide from "../../../../components/Slide/CodeSlide.astro";
---

<SlidesLayout title="Slide 45: JIT patches">
  <CodeSlide
    next-href="/talks/embrace-the-patch/46"
    next-label="Go to slide 46: Vendoring"
  >
    <div slot="single">
      <Code
        lang="ruby"
        code={`
ActiveSupport.on_load(:action_controller) do
  require_relative './actionpack/lib/action_dispatch/middleware/cookies.rb'
end
`.trim()}
      />
      <div>
        <a
          href="https://guides.rubyonrails.org/v7.0/engines.html#available-load-hooks"
          >Rails Guides 7.0: List of available hooks</a><br />
        <a
          href="https://guides.rubyonrails.org/configuring.html#load-hooks"
          >Rails Guides 8+: LConfiguring Load Hooks</a>
      </div>
    </div>
  </CodeSlide></SlidesLayout
>
