---
import Layout from "../layouts/Layout.astro";
import ExternalLinks from "../components/ExternalLinks.astro";
---

<Layout title="About me">
  <main id="content" class="mx-auto w-full max-w-5xl px-5 py-8">
    <header class="px-4">
      <h1 class="text-5xl font-bold">
        About <a href="/">Bits and Pieces</a>
      </h1>
      <p class="text-xl mt-1"></p>
    </header>

    <article class="mt-8 px-4 text-lg max-w-prose">
      <p>
        My name is Derk-Jan Karrenbeld. I own{" "}
        <a href="https://delftsolutions.nl/">a software agency</a>, I{" "}
        <a href="https://xpbytes.com">have freelanced</a>, and I am an{" "}
        <a href="https://www.github.com/SleeplessByte">
          open-source enthusiast
        </a>
        . For about ten years I was part of{" "}
        <a href="https://www.nautilusdelft.nl/">(water) Scouting Nautilus</a>. I
        used to take part in both sailing and ballroom dancing competitions. Now
        I thoroughly enjoy karaoke and sing in a{" "}
        <a href="https://popkoorprestige.nl/">pop-choir</a>.
      </p>

      <p class="mt-8 mb-8">
        As for <em>bits and pieces</em>: In 2015 I wrote a short poem based on
        some challenge, which has since been the 404 page of the company
        website. Here it is in full:
      </p>

      <article
        class="px-3 mb-6 border-double border-l-4 max-w-prose font-mono font-normal opacity-90"
      >
        <header>
          <h2 class="mt-3 mb-2 text-lg font-semibold">Bits. And pieces.</h2>
          <small class="block mb-6">
            By <a href="https://derk-jan.com">Derk-Jan Karrenbeld</a>{" "}
            published on <time datetime="2015-04-09">9 April 2015</time>
          </small>
        </header>
        Bits. Bits and pieces. Bits and Bytes. I see the spinner whilst it compiles.
        Waiting. Chunks of code. Bits and pieces. My mind reduced to machinery; logic;
        harsh, rude and singular truth. <br />
        <br />
        <em>
          I <strong class="font-extrabold">type</strong>. I save. I press the
          button. I watch the spinner.
        </em>
        <br />
        <br />
        Code lights up as exceptions are thrown. Thrown exceptions, breaking the
        code in bits and pieces. Like a CPU, my mind goes into overdrive, heating
        up ever so slightly. Where did I go wrong, what did I do wrong. I think,
        I linger.
        <br />
        <br />
        <em>
          I type. I <strong class="font-extrabold">save</strong>. I press the
          button. I watch the spinner.
        </em>
        <br />
        <br />
        “It works for me”, “Not enough information”, “By Design”. Writing on the
        interwebs can only answer my lingering questions so much. Piece by piece
        I will find the solution and write the code, from mind to machinery. <br
        />
        <br />
        <em>I type. I save. I want to press the button</em>
        <br />
        <br />
        My mind wanders and I am lost.
      </article>
    </article>

    <ExternalLinks />
  </main>
</Layout>
