---
import Layout from "../../../layouts/talks/exercism-is-excellent.astro";
---

<Layout title="Front page & Slide">
  <h2 class="sr-only">Front page and slide of the talk</h2>
  <section class="slide">
    <header class="-mt-12">
      <h3 class="font-semibold text-center" id="title-slide-1">
        Practically Accessible
      </h3>
      <p
        class="text-center max-w-md sm:max-w-lg md:max-w-xl mx-auto leading-7 sm:leading-7 md:leading-8"
      >
        Prefer <em class="not-italic font-semibold">reduced motion</em>{" "}
        or a <em class="not-italic font-semibold">light background</em>? Go to <a
          href="https://talks.derk-jan.com">talks.derk-jan.com</a
        > to follow along on your device.
      </p>
    </header>
    <div
      class="text-center max-w-md sm:max-w-lg md:max-w-xl mx-auto leading-7 sm:leading-7 md:leading-8 space-y-4"
    >
      <p>
        Looking for the{" "}
        <a href="/talks/practically-accessible-amsrb">
          Amsterdam.rb, The Amsterdam Ruby meetup group version
        </a>
        ?
      </p>
    </div>
  </section>
</Layout>
