---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/07/5-toc";
const nextLabel = "Go to slide 7.5: TOC";
---

<SlidesLayout title="Slide 7.4: TOC">
  <ListSlide
    class="--indigo"
    title="Today"
    type="ul"
    next-href={nextHref}
    next-label={nextLabel}
    sizer="Patching without patch files"
  >
    <li>What is a patch?</li>
    <li>How to make a patch?</li>
    <li>How to apply a patch?</li>
    <li>Practical application</li>
  </ListSlide>
</SlidesLayout>
