---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/18/footnote";
const nextLabel = "Go to slide 18.2: quick recap footnote";
---

<SlidesLayout title="Slide 18.1: quick recap definitions">
  <ListSlide
    class="--blue"
    next-href={nextHref}
    next-label={nextLabel}
    title="Quick recap"
    type="ul"
    sizer="a patch is a (set of) diffs with metadata ..."
  >
    <li>a diff is a (set of) differences</li>
    <li>a patch is a (set of) diffs with metadata</li>
  </ListSlide>
</SlidesLayout>
