---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/19";
const nextLabel = "Go to slide 19: a quick detour";
---

<SlidesLayout title="Slide 18.2: quick recap footnote">
  <ListSlide
    class="--blue"
    next-href={nextHref}
    next-label={nextLabel}
    title="Quick recap"
    type="ul"
    sizer="a patch is a (set of) diffs with metadata ..."
  >
    <li>
      a diff is a (set of) differences<span class="text-pink-500">*</span>
    </li>
    <li>
      a patch is a (set of) diffs with metadata<span class="text-pink-500"
        >*</span
      >
    </li>
    <li>
      <small class="italic text-sm"
        ><span class="text-pink-500">*</span> no one can agree on exact definitions,
        terms used interchangeably</small
      >
    </li>
  </ListSlide>
</SlidesLayout>
