---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/39/3-list-nope";
const nextLabel = "Go to slide 39.3b: Ruby gems";
---

<SlidesLayout title="Slide 39.3: Ruby gems">
  <ListSlide
    title="Patching Ruby Gems"
    class="--red"
    next-href={nextHref}
    next-label={nextLabel}
    type="ul"
  >
    <li>
      <strike
        ><a href="https://github.com/fedora-ruby/gem-patch"
          ><code>gem-patch</code></a
        ></strike
      >: updated 10 years ago.
    </li>
    <li>
      <strike
        ><a href="https://github.com/ingoweiss/gem_patching"
          ><code>gem_patching</code></a
        ></strike
      >: updated 15 years ago.
    </li>
    <li>
      <a href="https://github.com/AlexWayfer/gorilla_patch">gorilla_patch</a>:
      refine Ruby Core classes.
    </li>

    <li style="visibility: hidden;" class="h-1 !my-0" aria-hidden="true">
      gorilla_patch: marking blocks of code as patches.
    </li>
  </ListSlide>
</SlidesLayout>
