<section aria-labelledby="external-section-title" class="mt-12 px-4">
  <header>
    <h2 id="external-section-title" class="font-bold text-xl">
      External links
    </h2>
  </header>
  <ul class="space-y-2 mt-4 -ml-6">
    <li>
      <a
        href="https://github.com/SleeplessByte"
        class="flex items-center space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="flex-shrink-0 w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
            clip-rule="evenodd"></path>
        </svg>
        <span>SleeplessByte on GitHub</span>
      </a>
    </li>

    <li>
      <a
        href="https://gitlab.com/SleeplessByte"
        class="flex items-center space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="flex-shrink-0 w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
            clip-rule="evenodd"></path>
        </svg>
        <span>SleeplessByte on GitLab</span>
      </a>
    </li>

    <li>
      <a
        href="https://twitter.com/SleeplessByte"
        class="flex items-center space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="flex-shrink-0 w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
            clip-rule="evenodd"></path>
        </svg>
        <span>@SleeplessByte on Twitter</span>
      </a>
    </li>

    <li>
      <a
        href="https://exercism.org/profiles/SleeplessByte"
        class="flex items-center space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="flex-shrink-0 w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
            clip-rule="evenodd"></path>
        </svg>
        <span>SleeplessByte on Exercism</span>
      </a>
    </li>

    <li>
      <a
        href="https://steamcommunity.com/id/derk-jan"
        class="flex items-center space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="flex-shrink-0 w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
            clip-rule="evenodd"></path>
        </svg>
        <span>Looking For Amy on Steam</span>
      </a>
    </li>

    <li>
      <a
        href="https://www.linkedin.com/in/derkjankarrenbeld/"
        class="flex items-center space-x-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 flex-shrink-0"
        >
          <path
            fill-rule="evenodd"
            d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
            clip-rule="evenodd"></path>
        </svg>
        <span>Derk-Jan Karrenbeld on LinkedIn</span>
      </a>
    </li>
  </ul>
</section>
