---
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";
import TextSlide from "../../../../components/Slide/TextSlide.astro";
---

<SlidesLayout title="Slide 33.2: OSS challenges">
  <TextSlide
    next-href="/talks/embrace-the-patch/34"
    next-label="Go to slide 34: Challenge accepted"
  >
    <span transition:name="os">Open Source</span>
    <span transition:name="em">Challenges</span>
  </TextSlide>
</SlidesLayout>
