---
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";
import TextSlide from "../../../../components/Slide/TextSlide.astro";
---

<SlidesLayout title="Slide 33.1: OSS challenges">
  <TextSlide
    next-href="/talks/embrace-the-patch/33/challenges"
    next-label="Go to slide 33.2: OSS challenges"
  >
    <span transition:name="os">Open Source</span>
    <strike transition:name="em">Problems</strike>
  </TextSlide>
</SlidesLayout>
