---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/24/3-list";
const nextLabel = "Goto slide 24.3: Uncommon but not rare";
---

<SlidesLayout title="Slide 24.2: Uncommon but not rare">
  <ListSlide
    next-href={nextHref}
    next-label={nextLabel}
    title="Uncommon but not rare"
    type="ul"
  >
    <li>Linux Kernel</li>
    <li>
      <a href="https://wiki.postgresql.org/wiki/Submitting_a_Patch"
        >PostgreSQL</a
      >
    </li>
    <li>
      <a href="https://sr.ht/"> Anything on sourcehut</a>
    </li>
  </ListSlide>
</SlidesLayout>
