---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/25";
const nextLabel = "Goto slide 25: git format-patch";
---

<SlidesLayout title="Slide 24.4: Uncommon but not rare">
  <ListSlide
    next-href={nextHref}
    next-label={nextLabel}
    title="Uncommon but not rare"
    type="ul"
  >
    <li>Linux Kernel</li>
    <li>
      <a href="https://wiki.postgresql.org/wiki/Submitting_a_Patch"
        >PostgreSQL</a
      >
    </li>
    <li>
      <a href="https://sr.ht/"> Anything on sourcehut</a>
    </li>
    <li>
      GNU project (<a href="https://www.gnu.org/software/hurd//hurd.html"
        >Hurd</a
      >, <a
        href="https://guix.gnu.org/manual/devel/en/html_node/Submitting-Patches.html"
        >GUIx</a
      >, etc.)
    </li>
    <li>
      ...<a
        href="https://www.ruby-lang.org/en/community/ruby-core/#:~:text=org%3Aruby.git-,Improving%20Ruby%2C%20Patch%20by%20Patch,-The%20core%20team"
        >Ruby core (issue tracker + email)</a
      >
    </li>
  </ListSlide>
</SlidesLayout>
