---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/17/3-quick-recap";
const nextLabel = "Go to slide 17.3: quick recap";
---

<SlidesLayout title="Slide 17.2: quick recap">
  <ListSlide
    class="--blue"
    next-href={nextHref}
    next-label={nextLabel}
    title="Quick recap"
    type="ul"
    sizer="git apply: applies git diff output ..."
  >
    <li><code>diff</code>: unix tool</li>
    <li><code>diff</code>: finds differences in 2 files</li>
  </ListSlide>
</SlidesLayout>
