---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/48/5-list";
const nextLabel = "Go to slide 48.5: Responsible Techniques";
---

<SlidesLayout title="Slide 48.4: Responsible Techniques">
  <ListSlide
    title="Responsible techniques"
    next-href={nextHref}
    next-label={nextLabel}
    type="ol"
    sizer="Communicate (comments, via errors, etc.)"
  >
    <li>Wrap it in a gem ✨</li>
    <li>Version requirements</li>
    <li>Nicely encapsulated</li>
    <li>Communicate (comments, via errors, etc.)</li>
  </ListSlide>
</SlidesLayout>
