---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/48/8-list";
const nextLabel = "Go to slide 48.8: Responsible Techniques";
---

<SlidesLayout title="Slide 48.7: Responsible Techniques">
  <ListSlide
    title="Responsible techniques"
    next-href={nextHref}
    next-label={nextLabel}
    type="ol"
    sizer="Communicate (comments, via errors, etc.)"
    start={6}
  >
    <li>Wrap it in a module</li>
    <li>
      Use <a
        href="https://reinteractive.com/articles/ruby-refinements-vs-monkey-patching-best-practices#even-better-approach-ruby-24-using-span-stylebackground-colordfdfdf-padding5px-border-radius10pximportmethodsspan"
        ><code>Refinement.import_methods</code></a
      >
    </li>
  </ListSlide>
</SlidesLayout>
