---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/embrace-the-patch.astro";

const nextHref = "/talks/embrace-the-patch/49";
const nextLabel = "Go to slide 49: Location, Location, Location";
---

<SlidesLayout title="Slide 48.9: Responsible Techniques">
  <ListSlide
    title="Responsible techniques"
    next-href={nextHref}
    next-label={nextLabel}
    type="ol"
    sizer="Communicate (comments, via errors, etc.)"
    start={6}
  >
    <li>Wrap it in a module</li>
    <li>
      Use <a
        href="https://reinteractive.com/articles/ruby-refinements-vs-monkey-patching-best-practices#even-better-approach-ruby-24-using-span-stylebackground-colordfdfdf-padding5px-border-radius10pximportmethodsspan"
        ><code>Refinement.import_methods</code></a
      >
    </li>
    <li>
      Use <a
        href="https://www.ruby-lang.org/en/documentation/faq/7/#:~:text=class%2C%20by%20using-,prepend,-%3A"
        ><code>Module.prepend</code></a
      >
    </li>
    <li>
      Check for versions
      <ul class="list list-disc list-inside" style="zoom: 0.85">
        <li><code>Rails::Version::MAJOR</code></li>
        <li>
          <a href="https://libraries.io/github/librariesio/semantic_range"
            ><code>SemanticRange.lt?(SomeGem::VERSION, '9.8.7')</code></a
          >
        </li>
      </ul>
    </li>
  </ListSlide>
</SlidesLayout>
