---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  themeColor?: string;
}
const { title, description, themeColor } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="fade" transition:name="root">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content={themeColor || "#252A34"} />
    <meta name="generator" content={Astro.generator} />

    <title>
      {title ? `${title} · Code in Bits and Pieces` : "Code in Bits and Pieces"}
    </title>
    <meta
      name="description"
      content={description || "Personal bits of writing or pieces of mind."}
    />
    <link rel="icon" href="/favicon.ico" sizes="16x16" />
    <link rel="icon" href="/icons/icon-192x192.png" sizes="192x192" />
    <link rel="icon" href="/icons/icon-512x512.jpg" sizes="512x512" />
    <link rel="apple-touch-icon" href="/icons/apple-icon-180x180.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
